/*{outline: dashed 0.5px;outline-color: red;} - i use this for finding stuff in elements*/
hr,pre {
  font-family: Helvetica, Arial;
  margin-bottom: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
img {
  width: 35%;
  height: 35%;
}
img.emoji {
  width: 28px;
  height: 28px;
}
#messages {
  flex: 1;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #999; 
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(153,153,153,0.2); 
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  border-radius: 6px;
  width: 81.3%;
}

#message-box {
  flex: 0;
  margin-right: 1rem;
}
.msg img.pfp {
  display: inline-block;
  vertical-align: middle;
  float: left;
  margin-right: 10px;
}
.pfp {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  
}
textarea {height:2.5em;}
#logout{  position: absolute;
top: 10px;
right: 10px;
padding: 5px 10px;
background-color: #f44336;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;}
#settings{position:absolute;top:50px;right:10px;}
@media(prefers-color-scheme:light){hr{border-bottom: 1px solid #ccc;}#divtext{color:#ffffff}}
@media(prefers-color-scheme:dark){hr {border-bottom: 1px solid #fff;}body,pre,input{background-color:#000000;color:#ffffff;}  textarea.form-control,textarea.form-control:focus {background-color: #333;color: #fff;border-color: #666;}}
