<!DOCTYPE html>
<html>
<head>
  <title>badmsgplatform</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <script src="/socket.io/socket.io.js"></script>
 <link rel="stylesheet" href="/local/style.css">
</head>
<body>
<div class="container">
  <small>badmsgplatform 0.3 Dev - Room ID: <small id="roomid"><%= roomid %></small> <small> -  roomname: <%= roomname %>; roomcreator: <%= roomcreator %></small></small>
  <button id="logout" class="">Log-out</button>
  <button id="settings" onclick="App_Functions_ToggleSettingsDiv()">settings</button>
    <div id="messages">

    </div>
    <br><br>
    <div class="form send">
        <textarea id="message" class="form-control" placeholder="Your Message Here"></textarea>
        <button id="send" class="btn btn-primary">Send</button>
    </div>
</div>
<script src="https://unpkg.com/twemoji@latest/dist/twemoji.min.js" crossorigin="anonymous" defer></script>
<script src="/local/script.js"></script>
</body>
</html>
