<!DOCTYPE html>
<html>
<head>
  <title>badmsgplatform - home</title>
  <meta name="viewport" content="width=device-width, initial-scale=0.8">
 <link rel="stylesheet" href="/local/bstrap.css">
 <link rel="stylesheet" href="/local/style.css">
</head>
<body>
<div class="container">
  <small>badmsgplatform 0.4 Dev</small>
  <button id="logout" onclick="location.href=location.origin+'/logout'">Log-out</button>
  <h2><b><%= error %></b></h2>
  <br><h1>Hello, <%= name %>.</h1>
  <h5>Would you like to:</h5>
  <div id="messages"><br>
    <h3>Join a Room</h3>
      <input type="text" id="room-id" required placeholder="Room ID">
      <button id="joinbtn" class="btn btn-primary" type="submit" onclick='joinaRoom(document.getElementById("room-id").value)'>Join</button>
  <br><br><small>or</small><br><br>
  <div>
    <h3>Create a Room</h3>
    <form action="/api/createroom" id="createform" method="post">
      <label for="seclevel">ID Security:</label>
      <select id="seclevel" name="seclevel" disabled="true">
        <option value="1">Secure</option>
        <option value="2">More Secure</option>
      </select>
      <br>
      <input type="text" id="roomname" placeholder="Room name" required>
      <button type="submit" class="btn btn-success" id="create">Create</button>
    </form>
  </div>
  <br><br><br><br>
  <h3>Last joined</h3><div id="lastJoined"></div>
  <script>
    function joinaRoom(roomId){
      let joinedRooms = localStorage.getItem('joinedRooms');
      if (!joinedRooms) {
        joinedRooms = roomId;
      } else {
        joinedRooms = joinedRooms + ';' + roomId;
      }
      localStorage.setItem('joinedRooms', joinedRooms);
      const lastJoinedDiv = document.getElementById('lastJoined');
      const joinedRoomLinks = joinedRooms.split(';').reverse().map(roomId => `<a href="${location.origin}/app/${roomId}">${roomId}</a>`).join(', ');
      lastJoinedDiv.innerHTML = joinedRoomLinks;
      location.href = `${location.origin}/app/${roomId}`;
    }
    window.onload = function() {
      const lastJoinedDiv = document.getElementById('lastJoined');
      const joinedRooms = localStorage.getItem('joinedRooms');
      if (joinedRooms) {
        const joinedRoomLinks = joinedRooms.split(';').reverse().map(roomId => `<a href="${location.origin}/app/${roomId}">${roomId}</a>`).join(', ');
        lastJoinedDiv.innerHTML = joinedRoomLinks;
      }
    };
 function makeRoom() {
    const roomname = document.getElementById("roomname").value;
    fetch('/api/createroom', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ roomname })
    })
    .then(response => response.json())
    .then(data => {
      const roomId = data.roomId;
      if (roomId) {
        joinaRoom(roomId);
      } else {
        alert('Error creating room:', data);
        console.error(data);
      }
    })
    .catch(error => alert('Error creating room:', error));
  }
  document.getElementById("create").addEventListener("click", makeRoom);
  document.getElementById("roomname").addEventListener("keydown", function(e){if (e.key === 'Enter') {e.preventDefault();document.getElementById("create").click();}});
  </script>
</div>
</body>
</html>
